[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.pidb
*.suo
*.user
*.userosscache
*.sln.docstates
*.unityproj
*.booproj

.DS_Store
.idea/
.vs/
*.swp
*~

*.csproj
*.sln
*.slnx
